.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.city-selector {
  width: 200px; /* Adjust width as needed */
}

.medicine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin: 24px 0;
}

.medicine-card {
  min-width: 160px;
  max-width: 220px;
  margin: auto;
}

// Show at least 5 columns on large screens
@media (min-width: 1200px) {
  .medicine-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}